@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap');

$body-font: "Source Sans Pro", "Helvetica", "sans-serif";
$headers-font: "Source Sans Pro", "Helvetica", "sans-serif";

@font-face {
    font-family: 'futurateeregular';
    src: font-url('fe11003t-webfont.woff2') format('woff2'),
         font-url('fonts/fe11003t-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futurateemedregular';
    src: font-url('fe11004t-webfont.woff2') format('woff2'),
         font-url('../fonts/fe11004t-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futurateebold';
    src: font-url('futuratee-bold-webfont.woff2') format('woff2'),
         font-url('fonts/futuratee-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
