h1 {
  color: white;
  font-size: 16vmin;
  line-height: 18vmin;
  text-transform: uppercase;
}

input[type="text"]:focus {
    outline : none;
}

a.explore {
  color: white !important;
}

::placeholder {
  color: $grey-med;
  opacity: 1;
}

.home-container {
  position: absolute;
  z-index: 10;
  padding-top: 6vw;
}

.home-subheader {
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  padding-top: 40px;
}

.home-search-container {
  padding: 28px 8px 28px 16px;
  height: 56px;
  background-color: white;
  opacity: 0.7;
  border: 0;
  border-radius: 4px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-search-text {
  border: 0;
  width: 90%;
  background-color: rgba(0, 0, 0, 0);
  font-style: "Source Sans Pro", sans-serif;
  font-size: 12pt;
}

.icon-bg {
  width: 34px;
  height: 34px;
  background-color: $dark-blue;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-search-icon {
  font-size: 16pt;
  color: white;
}


.ball-container {
  position: absolute;
  z-index: 1;
  padding-top: 16px;
}