h1 {
  color: $dark-blue;
  font-size: 8vw;
  line-height: 10vw;
  margin: 80px 160px 60px 160px;
}

input[type="text"]:focus {
    outline : none;
}

::placeholder {
  color: $grey-med;
  opacity: 1;
}

.home-search-explore {
  width: 60vw;
  margin: 0 auto;
  display: flex;
}

.home-search-container {
  padding: 0 0 0 14px;
  background-color: white;
  border-radius: 50px;
  border: 2pt solid $dark-blue;
  height: 48px;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-search-text {
  border: 0;
  width: 90%;
  background-color: rgba(0, 0, 0, 0);
  font-style: "Source Sans Pro", sans-serif;
  font-size: 12pt;
}

.icon-bg {
  width: 34px;
  height: 34px;
  background-color: $dark-blue;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-search-icon {
  font-size: 16pt;
  color: white;
}

.home-sub {
  margin: 0 auto 5vw auto;
  width: 50vw;
  h6 {
    font-size: 1.5vw;
    color: $grey-dark;
    line-height: 2vw;
  }
}
