// Import page-specific CSS files here.
@import "home";
@import "show";
@import "profile";
@import "dashboard";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  a {
    &:hover {
      color: $warm-red;
      transition: 0.5s;
    }
  }
}

.current {
  color: $warm-red;
}