  <div class="tab-container">
    <h2>About</h2>
    <h2><a href="#" class="tab">Timeline</a></h2>
    <h2><a href="#" class="tab">Media</a></h2>

    <% if  @project.project_chat.present? %>
      <h2><%= link_to "Chat", project_chat_path(@project.project_chat), class: "tab" %></h2>
    <% end %>
  </div>

  <hr>
