  <div class="tab-container">
    <h2>About</h2>
    <h2><a href="#" class="tab">Timeline</a></h2>
    <h2><a href="#" class="tab">Media</a></h2>
    <h2><a href="#" class="tab">Chat</a></h2>
  </div>
  <hr>
