<div class="show-content">

    <div class="content-left">

      <div class="project-description">
        <%= @project.description %>
      </div>

      <div class="project-links">
        <h4>Resources</h4>

      </div>

    </div>

    <div class="content-right">

      <%= render "shared/members" %>

    </div>


  <div style="height: 60px"></div>
