  <div class="tab-container">
    <h2><%= link_to "About", project_path(@project.id), class: "tab" %></h2>
    <h2><%= link_to "Timeline", project_path(@project.id), class: "tab" %></h2>
    <h2><%= link_to "Media", project_path(@project.id), class: "tab" %></h2>
    <h2><%= link_to "Chat", project_chat_path(@project.project_chat), class: "nav-link tab" %></h2>
  </div>
  

 <hr>
