<div class="footer-artcollabs navbar-fixed-bottom">
  <div class="foot-logo-container">
    <%= render 'shared/logo' %>
  </div>

  <p> ~ here we write some footer text & add some links ~ </p>
</div>
