  <div class="tab-container">
    <h2><%= link_to "About", project_path(@project.id), class: "tab" %></h2>
    <h2><a href="#" class="tab">Timeline</a></h2>
    <h2><a href="#" class="tab">Media</a></h2>
    <h2>Chat</h2>
  </div>

 <hr>
<% if @user_type == :owner %>

    <!--show gallery-->

  <% elsif @user_type == :collaborator  %>

    <!--show gallery-->

  <% else %>

    <!--show not authorized-->

  <% end %>