
  <!-- ⭕ Media gets overwritten when trying to add more files to gallery, create method on projects_controller to manage upload files, link route to a button which triggers upload. HOW?
  images are not clickable 
  put them on a modal? 
  using js?
  generate html with src = cl_image_tag? -->
<div class="upload-container container flex-column">
    <%= simple_form_for @project, method: :patch do |f| %>
      <%= f.input :media, as: :file, input_html: { multiple: true }, class: "btn" %>
        <%= f.button :submit, "Upload" %>
        <!-- activate button if input is not empty -->
    <% end %> 
</div>

    <div class="media-container">
      <div class="flexbin mt-50">
        
        <% if @project.media.attached? %>
          <% @project.media.each do |media| %>
              <a href="#">
                <%= image_tag media %>
              </a>
          <% end %>  
        <% end %>


      </div>
    </div>
