      <div class="member-card">
        <div class="member-card-title">
          <h4>Collaborators</h4>
        </div>
        <div class="member-card-members">
          <div class="member">
            <%= image_tag "avatar.jpg" %>
            <h6><a href="#">Pandora404</a></h6>
          </div>
        </div>
      </div>
