<svg id="a9668806-b738-4be4-9a70-3c373e224b44" data-name="empty" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.4 38.4"><title>milestone_incomplete</title><circle cx="19.2" cy="19.2" r="19.2" fill="#e5e5e5"/><circle cx="19.2" cy="19.2" r="12" fill="#fff"/><circle cx="19.2" cy="19.2" r="3.55" fill="#c4c4c4"/></svg>
