<svg id="bd86b029-d6e9-436e-ae9b-2928f2116306" data-name="fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.4 38.4"><title>milestone_complete</title><circle cx="19.2" cy="19.2" r="19.2" fill="#ffc240"/><circle cx="19.2" cy="19.2" r="12" fill="#fff"/><circle cx="19.2" cy="19.2" r="8.16" fill="#ffc240"/></svg>
