<div class="nav-artcollabs">

  <div class="nav-logo-container">
    <%= render 'shared/logo' %>
  </div>

  <% if user_signed_in? %>

    <div class="nav-avatar">
      <%= image_tag("avatar.jpg") %>
    </div>

  <% else %>

    <div class="nav-btn-login">
      <%= link_to "Log in", new_user_session_path, class: "white btn-artcollabs btn-dark-blue btn-margin-right"%>
      <%= link_to "Sign up", new_user_registration_path, class: "white btn-artcollabs btn-dark-blue"%>
    </div>

  <% end %>

</div>
