<%= form_tag search_results_path, method: :get, class: 'center-flex fill' do %>

  <div class="navbar-search-container fill">

    <%= text_field_tag :query,
      params[:query],
      class: "navbar-search-text",
      placeholder: "Search ARTCOLLABs"
    %>

    <button class="search-submit"><i class="fas fa-search search-icon"></i></button>

  </div>

<% end %>
