<div class="nav-artcollabs">

  <div class="nav-logo-container">
    <%= render 'shared/logo' %>
  </div>

  <% if user_signed_in? %>

    <div class="nav-avatar">
      <%= image_tag("avatar.jpg") %>
    </div>

  <% else %>

    <%= link_to "Log in / Sign up", new_user_session_path, class: "btn-artcollabs btn-dark-blue nav-btn-login"%>

  <% end %>

</div>
