      <div class="member-card">
        <div class="member-card-title">
          <h4>Project creator</h4>
        </div>
        <div class="owner-card-info">
          <div class="owner">
            <%= image_tag "avatar.jpg" %>
            <h6><a href="#">Pandora404</a></h6>
          </div>
          <div class="owner-details">
            <ul>
              <li>Member since: 2021</li>
              <li>Current projects: 3</li>
              <li>Finished projects: 21</li>
            </ul>
          </div>
        </div>
      </div>
