      <div class="member-card">
        <div class="member-card-title">
          <h4>Project creator</h4>
        </div>
        <div class="owner-card-info">
          <div class="owner">
            <%= link_to profile_path(@project.user.id), class: "an-owner" do %>
              <% if @project.user.avatar.attached? %>
                <%= image_tag @project.user.avatar %>
              <% else %>
                <div class="avatar-owner">
                  <%= render "shared/avatar" %>
                </div>
              <% end %>
              <h6><%= @project.user.username %></h6>
            <% end %>
          </div>
          <div class="owner-details">
            <ul>
              <li>Member since: 2021</li>
              <li>Current projects: 3</li>
              <li>Finished projects: 21</li>
            </ul>
          </div>
        </div>
      </div>
