<% if @users.empty? && @projects.empty? %>
    <div class="results text-center" style="margin-top: 80px">
        <h4>No users or projects found.</h4>
    </div>
<% end %>

<% if @users.length.positive? %>
    <div class="results text-center" style="margin-top: 80px">
        <h2>Users</h2>
        <% @users.each do |user| %>
            <h4><%= link_to user.username, profile_path(user) %></h4>
        <% end %>
    </div>
<% end %>

<% if @projects.length.positive? %>
    <div class="results text-center" style="margin-top: 80px">
        <h2>Projects</h2>
        <% @projects.each do |project| %>
            <h4><%= link_to project.title, project_path(project) %></h4>
        <% end %>
    </div>
<% end %>