<div class="form-container">

  <h2>Edit project</h2>
  <br>

  <%= render "shared/projects_form" %>

  <div class="delete-account">
    <h3>Delete project</h3>
    <p><em>We do not store your data.</em> Once you have deleted your project, it cannot be retrieved again. Please think about this decision carefully before you confirm.</p>
    <div style="margin-top: 32px; text-align: center">
      <%= link_to "Delete project", project_path(@project), method: :delete, class: "white btn-artcollabs btn-warm-red", data: { confirm: "Delete project '#{@project.title}'?" } %>
    </div>
  </div>

</div>
