<% if ["noresults"].include? params[:search] %>
    <div class="results text-center" style="margin-top: 80px">
        <h5>No search results for <%= params[:searched] %>.</h5>
    </div>
<% else %>
    <% if params[:query].present? && params[:query].length.positive? %>
        <div class="results text-center" style="margin-top: 80px">
            <h5>Results for <%= params[:query] %>:</h5>
        </div>
    <% end %>

    <div class="index-card-container">

      <% @projects.each do |project| %>
        <%= render partial: 'shared/project_card', locals: { project: project } %>
      <% end %>

    </div>

    <div class="pagination text-center" style="margin-top: 10px" >
      <%= paginate @projects %>
    </div>

<% end %>
