<div class="project-photo" id="project-pic">

  <% if @project.photo.attached? %>
    <%= cl_image_tag(@project.photo.key) %>
  <% else %>
    <%= image_tag "clouds.jpg" %>
  <% end %>

</div>

<div class="show-container">

  <h1><%= @project.title %></h1>

  <%= render "shared/tabs" %>

</div>

