<div class="project-photo">

  <% if @project.photo.attached? %>
    <%= image_tag @project.photo %>
  <% end %>
</div>

<h1 id="project-title"><%= @project.title %></h1>

<div class="show-container">

  <%= render "shared/tabs" %>

</div>

