<div class="project-photo" id="project-pic">

  <% if @project.photo.attached? %>
    <%= image_tag @project.photo %>
  <% else %>
    <%= image_tag "clouds.jpg" %>
  <% end %>
  <div class="arrow">
    <h2><i class="fas fa-expand-arrows-alt"></i></h2>
  </div>
</div>

<h1 id="project-title"><%= @project.title %></h1>

<div class="show-container">

  <%= render "shared/tabs" %>

</div>

