<h1>Projects#show</h1>
<p>Find me in app/views/projects/show.html.erb</p>
<%= @project.title %>
<%= render "shared/collaborations_form" %>

<!-- if current_user.collaborations.includes(project) ? something like this for allowing specific users to see information -->