.btn-artcollabs {
  border-radius: 50px;
  border: 0;
  padding: 8px 40px 8px 40px;
  font-family: 'futurateeregular', Futura, Helvetica, sans-serif;
  font-size: 10pt;
}

.btn-dark-blue {
  background-color: $dark-blue;
}

.btn-warm-red {
  margin: 0 0 16px 0;
  background-color: $warm-red;
  width: 240px;
  text-align: center;
}

.btn-margin-right {
  margin-right: 16px;
}

.white-text {
  color: white;
}
