.btn-artcollabs {
  border-radius: 50px;
  border: 0;
  padding: 8px 40px 8px 40px;
  font-family: 'futurateemedregular', Futura, Helvetica, sans-serif;
  font-size: 14pt;
}

.btn-dark-blue {
  background-color: $dark-blue;
}

.btn-white {
  background: white;
  color: $dark-blue !important;
  transition: background 1s;
}

.btn-white:hover {
  background: $dark-blue;
  color: white !important;
}

.btn-white-outline {
  border: 2px solid white;
  transition: background 1s;
}

.btn-white-outline:hover {
  color: white !important;
  border: 0;
  background: $dark-blue;
}

.btn-disabled {
  margin: 0 0 16px 0;
  background-color: $grey-light-med;
  width: 240px;
  text-align: center;
}

.btn-warm-red {
  margin: 0 0 16px 0;
  background-color: $warm-red;
  width: 240px;
  text-align: center;
  transition: background 1s;
}

.btn-warm-red:hover {
  background-color: $warm-yellow;
}

.btn-warm-red-outline {
  margin: 0 0 16px 0;
  border: 2px solid $warm-red;
  width: 240px;
  text-align: center;
  color: $warm-red;
  transition: background 1s;
}

.btn-warm-red-outline:hover {
  color: white;
  background-color: $warm-red;
}

.btn-grey {
  margin: 0 0 16px 0;
  background-color: $grey-dark;
  width: 240px;
  text-align: center;
  transition: background 1s;
}

.btn-grey:hover {
  background-color: $warm-yellow;
}

.btn-margin-right {
  margin-right: 16px;
}

.btn-explore {
  margin-right: 104px;
}

.btn-apply {
  color: white !important;
}

.white-text {
  color: white;
}

.btn-home-explore {
  margin-left: 40px;
  padding: 11px 40px 9px 40px;
  border-radius: 50px;
  font-family: "futurateemedregular", Futura, Helvetica, sans-serif;
  font-size: 14pt;
  background-color: $warm-red;
  color: white;
  transition: background 1s;
}

.btn-home-explore:hover {
  color: white;
  background-color: $warm-yellow;
}

.button_to {
  margin-left: 40px;
}

#message-btn {
  border-color: none;
}
