.index-card-container {
  margin: 60px auto;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap:40px;
}

.index-card {
  margin: 0;
  width: 280px;
  height: 280px;
  /* border: 2px solid $grey-light-med; */
  border: 0;
  background: $grey-light;
  border-radius: 0;
}

.card-image {
  width: 100%;
  height: 140px;

  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-title {
  height: 34px;
  margin: 16px;
}

.card-roles {
  margin: 16px;
  display: flex;
  align-items: center;
}

.card-tags {
  height: 50px;
  width: 220px;
  margin: 6px 6px 12px 6px;
  display:flex;
  flex-wrap: wrap;
  .a-tag {
    color: $warm-red;
    height: 20px;
    margin: 2px;
    line-height: 16px;
    padding: 2px 16px 2px 16px;
    font-size: 8pt;
    background: white;
    border-radius: 40px;
  }
}

.card-footer {
  padding: auto 8px auto 8px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid $grey-light;
  h6 {
    margin: 0 0 2px 12px;
  }
}

.a-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
  }
}

.user-icon {
  font-size: 14pt;
  padding-right: 6px;
}

.icon-black {
  color: black;
}

.icon-grey {
  color: $grey-med;
}

.member-card {
  margin-top: 18px;
  width: 240px;
  border: 2px solid $grey-light-med;
  border-radius: 20px;
  h4 {
    margin: 4px;
  }
}

.member-card-title {
  padding: 12px;
  border-bottom: 2px solid $grey-light;
}

.member-card-members {
  img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
  }
}

.member {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.a-member {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h6 {
    margin: 8px;
  }
  img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
  }
}

.owner-card-info {
  padding: 8px 16px 8px 16px;
  img {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    margin-right: 8px;
  }
}

.owner {
  margin: 8px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.an-owner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h6 {
    margin: 8px;
  }
}

.owner-details {
  ul {
    padding-left: 2px;
    list-style-type: none;
  }
  li {
    padding-top: 8px;
  }
}

@media(max-width: 1300px) {
  .index-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 800px) {
  .index-card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 500px) {
  .index-card-container {
    grid-template-columns: 1fr;
  }
}
