textarea {
  max-width: 100%;
  width: 100%;
}

textarea:focus {
  outline: none;
}

#messages {
  height: 40vh;
  overflow-y: scroll;
}

.message-container {
  padding: 16px;
}

.message-container.message-sent {
  text-align: left;
  margin-right: 4vw;
  display: flex;
  justify-content: flex-end;
}
.message-container.message-received {
  text-align: left;
  margin-left: 4vw;
  display: flex;
  justify-content: flex-start;
}
.msg-sent {
  background-color: rgba(253, 232, 205, 0.8);
  padding: 16px 16px;
  border-top-right-radius: 24px;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 0px;
  max-width: 80%;
  font-size: 12px;
  word-break: break-word;
}
.msg-received {
  background-color: rgba(0, 145, 125, 0.8);
  padding: 16px 16px;
  border-top-left-radius: 24px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 0px;
  max-width: 80%;
  font-size: 12px;
  word-break: break-word;
}

.message-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-user {
  padding: 8px;
  // font-family: 'futurateeregular', Futura, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 500;
}

.chat-date {
  font-size: 8pt;
  color: $grey-darker;
}

.btn-chats {
  border-radius: 50px;
  border: 0;
  padding: 8px 40px 8px 40px;
  // font-family: 'futurateeregular', Futura, Helvetica, sans-serif;
  font-size: 10pt;
  text: white;
}

.author {
  padding: 12px 8px 12px 8px;
  display: flex;
  align-items: flex-start;
  border-top: 2px solid $grey-light;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
  p {
    margin: 0 0 2px 12px;
  }
}

.chat-content {
  display: flex;
  justify-content: space-between;
}

#input_message {
}

.chat-input-container {
  margin: 0 auto;
  padding: 0 0 0 14px;
  background-color: white;
  border-radius: 50px;
  border: 2pt solid $grey-light-med;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-input-text {
  border: 0;
  width: 90%;
  background-color: rgba(0, 0, 0, 0);
  font-style: "Source Sans Pro", sans-serif;
  font-size: 12pt;
}

/*.chat-left {
  width: 60%;
}

.chat-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}*/

