.btn-chats {
  border-radius: 50px;
  border: 0;
  padding: 8px 40px 8px 40px;
  font-family: 'futurateeregular', Futura, Helvetica, sans-serif;
  font-size: 10pt;
  text: white
}

.author {
  padding: auto 8px auto 8px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid $grey-light;
  img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
  }
  p {
    margin: 0 0 2px 12px;
  }
  /* span {
    margin: 0 0 2px 12px;
  }
  small {
    margin: 0 0 2px 12px;
  } */
}



