.footer-artcollabs {
  background-color: $grey-light-med;
  height: 72px;
  // position: absolute;
  // bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin: 0 30px 4px 30px;
  }
}

.foot-logo-container {
  margin-left: 30px;
  width: 44px;
  height: 42px;
}
