input[type=submit] {
  font-family: "futurateeregular", Futura, Helvetica, sans-serif;
  font-size: 12pt;
  color: white;
  background-color: $warm-red;
  padding: 8px;
  width: 220px;
  border-radius: 50px;
  border: 0;
  transition: background 1.5s;
}

input[type=submit]:hover {
  color: white;
  background-color: $warm-yellow;
}

.form-container {
  margin: 100px auto 0 auto;
  width: 40vw;
}

.float-right {
  float: right;
}

.float-center {
  float: center;
}

.new-project-container {
  margin: 60px auto 160px auto;
  width: 50vw;
}

.delete-account {
  margin-top: 180px;
  margin-bottom: 120px;
}
