.upload-container {
  justify-content: right !important;
  text-align: right !important;
  margin-top: 50px;
  .choose-button, .upload-button {
    display: inline;
  }
}

.media-container {
  margin-top: 50px;
}