input[type="text"]:focus {
    outline : none;
}

.nav-artcollabs {
  background-color: $light-blue;
  height: 72px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-logo-container {
  width: 84px;
  height: 88px;
  position: absolute;
  top: 0;
  left: 24px;
}

.nav-avatar {
  img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}

.nav-btn-login {
  position: absolute;
  right: 56px;
}

.navbar-search-container {
  margin-right: 96px;
  padding: 0 6px 0 14px;
  background-color: white;
  border-radius: 50px;
  height: 36px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-search-text {
  border: 0;
  width: 90%;
  background-color: rgba(0, 0, 0, 0);
  font-style: "Source Sans Pro", sans-serif;
  font-size: 10pt;
}

.search-submit {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

.search-icon {
  font-size: 14pt;
  color: $grey-med;
}

.navbar-dropdown {
  position: absolute;
  right: 24px;
  top: 12px;
}

.dropdown-menu {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: white;
  border: 0;
  border-radius: 20px;
  border: 2px solid $grey-light-med;
}

.dropdown-item {
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "futurateeregular", Futura, Helvetica, sans-serif;
  font-size: 12pt;
}

.dropdown-item:hover {
  color: white;
  background-color: $warm-red;
}

.dropdown-item:active {
  background-color: $warm-yellow;
}

#dropdownMenuButton {
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  background-color: rgba(255, 0, 0, 0);
  border: 0;
}
